.main{
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-top: 40px;
    font-size: 36px;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
}

.we{
    margin-top: 30px;
    font-size: 18px;
}

.text{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.rowOne{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    height: 300px;
}

.colOne{
     display: flex;
}

.one{
    margin-bottom: 40px;
    margin-right: 10px;
}

.onetext{
    margin-top: -38px;
}

.two{
    margin-top: 40px;
}

.vertical{
    transform: rotate(90deg);
    font-size: 10px;   
    max-width: 200px;
    max-height: 15px;
    margin-top: 30px;
    margin-left: -15px;
    font-family: 'PT Serif', serif;
}

.name{
    font-size: 14px;
}

img{
    width: 80%;
}

.impairphoto{
    width: 85%;
}

.footer{
    margin-top: 100px;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}