.main{
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-top: 40px;
    font-size: 36px;
    font-family: 'PT Serif', serif;
    font-weight: bolder;
}

.we{
    margin-top: 30px;
    font-size: 18px;
}

.text{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.text-start{
    font-size: 10px; 
    transform: rotate(90deg);
    font-family: 'PT Serif', serif;
    width: 70px;
    height: min-content;
    margin-top: 30px;
    margin-left: -60px;
}

.text-start.pares{
    margin-top: 80px;
}

.name{
    font-size: 14px;
}

img{
    width: 80%;
    vertical-align: middle;
}

.footer{
    margin-top: 100px;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.centro{
    display: grid;
    grid-template-columns: 40% 5% 40% 5% ;
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    margin-left: 20px;
}

.pares{
    margin-top: 50px;
}

@media screen and (min-width: 960px){

    .presentation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: 100px auto;
    }

    .info{
        width: 60%;
    }
  
    .we{
        margin-top: 30px;
        font-size: 18px;
        font-weight: bolder;
    }
    
    .text{
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 20px;
        width: 400px;
    }
    
    .centro{
        display: grid;
        grid-template-columns: 20% 5% 20% 5% 20% 5%;
        grid-template-rows: 200px 200px 200px;
        row-gap: 300px;
        justify-content: center;
    }

    .text-start{
        font-size: 12px; 
        transform: rotate(90deg);
        font-family: 'PT Serif', serif;
        width: 80px;
        height: min-content;
        margin-top: 30px;
        margin-left: -170px;
    }
    
    .text-start.pares{
        margin-top: 80px;
    }

    .desktop{
        margin-top: 40%;
    }
  
    .text-start.medio1{
      vertical-align: middle;
      margin-top: 185px;
   }

   .medio2{
       margin-top: 185px;
   }
    
    .name{
        font-size: 18px;
    }
    
    img{
        width: 60%;
    }
    
    .footer{
        margin-top: 100px;
        color: #A9A9A9;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}